@model IEnumerable<Module>
@{
    ViewData["Title"] = "Index";
}

<h1 class="m-5">Module()</h1>
 
<div>
    @foreach (var module in Model)
    {
        <div>
            <p>@module.Id</p>
            <p>@module.Title</p>
            <p>@module.CourseId</p>
            <p>@module.Description</p>
            <p>@module.ResourceUrl</p>
        </div>
    }

</div>